@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

#game {
    position: relative;
    width: 960px;
    height: 552px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

#game canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#game .board {
    position: absolute;
    top: 384px;
    left: 0;
    bottom: 0;
    right: 0;
}

.board .status-line {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.verbs-desk {
    width: 100%
}

.verbs-desk .verb {
    display: inline-block;
    font-size: 22px;
    width: 33%;
    height: 40px;
}